/* Charger : 
    <link rel="stylesheet" href="./CSS/styleU.css">
    <link rel="stylesheet" href="./CSS/style.css">

    Donc :
    - styleU contient : 
    1) les styles annulées
    2) les styles U users, spécifiques
    - style contient : 
    1) les styles généraux
    - media screen ...
*/


/* Styles ANNULES ************************************/
h1, h2, h3, h4, h5, h6, p , ul, nav, li, a {
    margin: 0;
    padding: 0;
}
/* ul {
    list-style-type: none; 
} */
a {
    text-decoration: none; /* Liens non soulignés */
}

/* Styles REDEFINIS **********************************/

h1, h2, h3, h4, h5, h6, p, li, a, label, th, td {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
    padding: 2px 30px;
    /* background: #239fbe; */
    background: rgba(37, 157, 177, 0.33);
    box-shadow: 0px 0px 20px 2px  #20abab;
    /* box-shadow: 0px 0px 20px 2px rgba(37, 157, 177, 0.33); */

    /* color: #00a3a6; */
    /* color: #275662; */
}

h2, h3 {
    color: red;
}
h4, .t4-cyan {
    color: darkcyan;
}
th {
    text-align: left;
}

/* ______________________________ BODY - HEADER _________________________________________ */
body {
    margin: 0;
    background-color: red;
}
header {
    padding: 0px 20px;
    /* background-color: #00a3a6; */
}
#top-banniere {
    background: center/cover url(../IMAGES/MyLifeMyDiet_banniere.png) no-repeat;
    width: 600px;
    height: 200px;
    /* border: 2px solid var(--noir1); */
    /* border-radius: 10px; */
    /* margin: 20px; */
}

/* _________________________________ MAIN - FOOTER ______________________________________________ */

main {
    background: rgb(255, 255, 255, 0.77);
    padding: 5px 20px 10px 20px;
}

footer p {
    color: white;
    font-weight: bold;
}

/* _________________________________ Elt _______________________________________________________ */

.box1, .box2, .box1-resultat {
    background: rgb(255, 255, 255, 0.50);
    margin: 0px 10px 10px 10px;
    padding: 5px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    /* overflow: auto;     overflow text: shown thanks auto - scrollbar */
}
.min-width {
    min-width: 700px;
}

.form-box {
    display: flex;
    flex-direction: row; 
    padding: 2px 10px;   
}
.form-box-col {
    display: flex;
    flex-direction: column; 
    padding: 2px 10px;   
}
.form-data {
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;  
    padding: 2px 2px;   
 
}
.form-btn {
    /* margin-left: 5px;
    margin-right: 5px;     */
    margin: 2px 5px 5px 5px;

}
.ligne-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#suppr-choix2, #modif-choix2 {
    visibility: hidden;
    /* display: none; */
}

.box2-blanc {
    background-color: white;
    margin: 3px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
}

.scroll-bar {
    overflow: auto;
    white-space: nowrap;
}


table, th,td {
  padding: 0px 4px;
  /* border: 1px solid gray; */
  border-left: 1px dashed gray;
  border-bottom: 1px solid darkcyan;
  border-collapse: collapse;
}
