/* ***  Styles communs ******************************* */
/*  Taille dx 
    Marge int ext
    Centrage auto / txt
    Centrage div
*/
.dx40 {
    width: 40%;
}
.dx50 {
    width: 50%;
}
.dx60 {
    width: 60%;
}
.dx90 {
    width: 90%;
}
.dx80 {
    width: 90%;
}
.dx100 {
    width: 100%;
}


.dx350px {
    width: 350px;
}
.dy400px {
    height: 400px;
}

.padding-V5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-V10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-V20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-H10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-H20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-H50 {
    padding-left: 50px;
    padding-right: 50px;
}
.padding-H100 {
    padding-left: 100px;
    padding-right: 100px;
}

.margin-V10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-V5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-H5 {
    margin-left: 5px;
    margin-right: 5px;
}
.margin-H10 {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-H50 {
    margin-left: 50px;
    margin-right: 50px;
}

/* *** Centrage ******************/
.center-elt {
    margin-left: auto;
    margin-right: auto;
}
.center-txt {
    text-align: center;
}

/* *** Centrage Div **********************/
.ligne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-direction: column;
}

.axe1-start {
    justify-content: flex-start;
}
.axe1-center {
    justify-content: center;
}
.axe1-sp-around {
    justify-content: space-around;
}
.axe1-sp-between {
    justify-content: space-between;
}
.axe2-center {
    align-items: center;
}


.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex4 {
    flex: 4;
}

/* *** Nav-btn-i ********************************************************/

.Nav-lu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; /* SANS PUCE */
}

.Nav-btn-li, .Nav-btn-1, .Nav-li {
    width: 200px;
    height: 30px;
    margin: 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.70);
    box-shadow: 0px 0px 20px 2px #20abab;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Nav-li, .Nav-btn-1 {
    background: rgba(255, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 2px rgb(70, 117, 117, 1); 
}
.Nav-li {
    flex-direction: column;
    width: 250px;
    height: auto;
    padding-left: 10px;
}
.Nav-btn-1 {
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-weight: bold;
}

.Nav-btn-li:hover, .Nav-btn-1:hover {
    transition: 0.3s;
    transform: scale(1.2, 1.2);
    background: rgb(255, 255, 255, 0.85);
    box-shadow: 0px 0px 20px 2px  darkcyan;
    cursor: pointer;
}

.Nav-btn-a {
    color: red;
    font-size: large;
    font-weight: bold;
}

.btn-top {
    font-size: larger;
    font-weight: bolder;
    color: red;

    float: right; /* */
    padding: 2px;
    margin: 2px 0px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.70);
}
/* .btn-top Dans une div:
    <div class="ligne axe1-sp-between">
        <h3> Fin ... </h3>
        <p class="btn-top">&uArr;</p>
    </div> */


/* *** Responsive ********************************************************/
.responsive {
    display: flex;
    flex-wrap: wrap;    /* wrap move elt */

    overflow: auto;     /* overflow text: shown thanks auto - scrollbar */
}

@media screen and (max-width: 600px) {
    /* header nav ul { */
    .Nav-lu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  
/************************************************************************/

.imgContaint {
    object-fit:contain;
    /* object-fit: cover; */
}
.imgSize70h80w {
    height: 100px;
    width: 110px;
}
.imgSize140h160w{
    height: 140px;
    width: 160px;
}

/************************************************************************/


@media screen and (max-width: 750px) {
    .padding-H100 {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 550px) {
    main {
        padding: 5px;
    }
    .box1 {
        margin: 0px 5px 5px 5px;
        padding: 5px 3px;
    }
    .form-box {
        display: flex;
        flex-direction: column; 
        padding: 2px 2px;   
    }
    .form-data {
        width: 95%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap;  */
        justify-content: center;   
    }
    .form-btn, #suppr-choix1, #modif-choix1 {
        margin: 2px 30px 5px 10px;
    }
    .ligne-btn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}